@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */

@layer base {
  input[type='number'] {
    @apply w-full bg-transparent px-input-x text-right caret-green-vivid outline-none;
  }

  input[name='tipAmount'] {
    @apply sr-only;
  }
}

/* COMPONENTS */

@layer components {
  /* NUMBER INPUT CONTAINER STYLING */
  .input-container {
    @apply flex cursor-pointer items-center rounded-input bg-input outline outline-2 -outline-offset-2 outline-transparent transition-all has-[:checked]:outline-green-vivid has-[:focus-visible]:outline-green-vivid hover-fine:hover:outline-green-vivid;

    img {
      @apply pl-input-x;
    }

    input {
      @apply py-input-y text-green-dark;
    }
  }

  /* RADIO BUTTON FOCUS */
  .radio-focus,
  #resetBtn {
    @apply outline outline-2 outline-offset-4 outline-transparent;
  }

  .radio-focus:has(input:focus-visible) {
    @apply hover-fine:focus-within:outline-green-vivid;
  }

  #resetBtn {
    @apply focus-visible:bg-green-pale focus-visible:outline-green-vivid;
  }

  /* CHECKED CUSTOM AMOUNT DISPLAY STYLING */
  .input-container:has(#customTip:checked) {
    label {
      @apply hidden;
    }

    #customTipAmount {
      @apply !block;
    }
  }

  .label-and-error {
    @apply flex justify-between;
  }

  .radio-grid label {
    @apply py-input-y transition-all has-[:checked]:bg-green-vivid has-[:checked]:text-green-dark hover-fine:hover:bg-green-pale hover-fine:hover:text-green-dark;
  }

  .cursor-pointer-all * {
    @apply cursor-pointer;
  }

  .btn {
    @apply mt-8 w-full rounded-input bg-green-vivid py-[0.375rem] text-xl leading-[1.875] text-green-dark transition-all hover-fine:hover:bg-green-pale;
  }
}

/* UTILITIES */

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
